/* Inserta tu CSS aqui */
.rojo {
	width: 400px;
	height: 400px;
	background-color: red;
}

.morado {
	width: 200px;
	height: 200px;
	background-color: purple;
	position: absolute;
	top: 100px;
	left: 100px;
}

.amarillo {
	width: 100px;
	height: 100px;
	background-color: yellow;
}